/*

FLEX


*/


.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-stretch { align-content: stretch; }
.flex-spacearound { justify-content: space-around; }
.flex-grow { flex: 1 1 auto; }
.flex-shrink { flex: 0 1 auto; }