/*

FLOATS


*/


.float-l { float: left;
            _display: inline;
        }
.float-r {  float: right;
            _display: inline; }

.clear { clear: both; }
.clearl { clear: left; }
.clearr { clear: both; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.abs {
  position: absolute;
}
.rel {
  position: relative;
}

.centerv {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
