/*

FONT WEIGHTS

*/

$columns: 12;
$gutters: 16px;

@define-mixin grid $cols {
    .col$(i)of$(columns) {
     width: calc((100% / $columns ) * $cols);
   }
}

@for $i in 1 to $columns {
  @mixin grid $i {}
}

@mixin prefixes {
&w100 { with: 100%; }
&w90 { width: 90%; }
&w80 { width: 80%; }
&w75 { width: 75%; }
&w70 { width: 70%; }
&w65 { width: 65%; }
&w60 { width: 60%; }
&w50 { width: 50%; }
&w40 { width: 40%; }
&w30 { width: 30%; }
&w25 { width: 25%; }
&w20 { width: 20%; }
&w10 { width: 10%; }

&maxw1 { max-width: 1rem; }
&maxw2 { max-width: 2rem; }
&maxw3 { max-width: 4rem; }
&maxw4 { max-width: 8rem; }
&maxw5 { max-width: 16rem; }
&maxw6 { max-width: 32rem; }
&maxw7 { max-width: 48rem; }
&maxw8 { max-width: 64rem; }
&maxw9 { max-width: 96rem; }
&maxw10 { max-width: 128rem; }

}
