<footer class="wrap xs-px-4 xs-py-4 xs-span12 clearfix">
  <div class="md-span11 md-push1">

      <ul class="list-unstyled xs-m-auto">
 
        <li class="xs-pr-3 inline" > 
          <a href="https://twitter.com/seancblanton"> Twitter</a>
        </li>

        <li class="xs-pr-3 inline" > 
          <a href="https://github.com/seanblanton"> Github</a>
        </li>

        <li class="xs-pr-3 inline" > 
          <a href="https://www.linkedin.com/in/seancblanton"> LinkedIn</a>
        </li>


      </ul>

	</div>
</footer>

</div>
<link href='/fonts/HKGrotesk-Light.otf' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="{{ "/css/main.min.css?v=1.1" | prepend: site.baseurl }}" async>


