<header class="wrap xs-px-4 xs-py-4 xs-span12 clearfix">
  <div class="md-span11 md-push1">

      <ul class="list-unstyled xs-m-auto">
        {% assign pages = site.pages | sort:"index"  %}
        {% for page in pages %}
            {% if page.category contains 'nav'  %}
        <li class="xs-pr-3 inline" > 
          <a class="link-sm bold" href="{{ page.url | prepend: site.baseurl }}"> {{ page.title }} </a>
        </li>
             {% endif %}
        {% endfor %}
      </ul>
  </div>
</header>







