<header class="wrap xs-px-4 xs-py-4 xs-span12 clearfix">
  <div class="md-span11 md-push1">

      <ul class="list-unstyled xs-m-auto">
        {% for my_page in site.pages %}
          {% unless my_page.url == page.url %}
            {% if my_page.category contains 'nav'  %}
        <li class="xs-pr-3 inline" > 
          <a class="link-sm bold" href="{{ my_page.url | prepend: site.baseurl }}"> {{ my_page.title }} </a>
        </li>
             {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
  </div>
</header>




