

{% for node in site.pages %}
    {% assign next = page.index | plus: 1 %}
    {% assign prev = page.index | minus: 1 %}
    {% if prev == node.index %}
        {% assign prevPage = node %}
    {% endif %}
    {% if next == node.index %}
        {% assign nextPage = node %}
    {% endif %}
{% endfor %}

{% if prevPage %}
<div class="xs-span12 xs-px-4 lg-px-0 flex flex-justify flex-wrap flex-center ">
	<div class="xs-mt-4 lg-mt-0 flex-center xs-m-auto">
	    <a href="{{ prevPage.url }}" class="prev">← {{prevPage.title}}</a>
	</div>
{% endif %}

{% if nextPage %}
	<div class="xs-mt-4 lg-mt-0 flex-center xs-m-auto">
	    <a href="{{ nextPage.url }}" class="next"> {{nextPage.title}} → </a>
	</div>
</div>
{% endif %}