// color.scss
// Defines color variables

// Color utility classes
// --------------------------------------------------
// --------------------------------------------------


.lightgray { 		color: $lightgray 			!important; }
.lightmidgray {		color: $lightmidgray 		!important;	} 
.midgray {			color: $midgray 			!important;	}
.darkgray {			color: $darkgray 			!important;	}
.accent {			color: $accent2 			!important;	}



html, body {
	color: $color--bodyText;
	background: $color--pageBackground;
}







