// functions.scss
// Defines breakpoints for style guide



// Breakpoints
// --------------------------------------------------

$breakpoints: (
  'xs': null,
  'sm': 40rem, 
  'md': 64rem,
  'lg': 85rem,
);



// kind of a combo of Buzzfeed's SOLID prefixer with some of my own stuff mixed in

@mixin respond-to($breakpoint) {
  @if (map-get($breakpoints, $breakpoint)) == null {
    @content;
  } @else {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}



@mixin generate-bp-prefixes {

  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    $bp-prefix: "#{$breakpoint-name}-";

    @include respond-to($breakpoint-name) {
      .#{$bp-prefix} {
        @content;
      }
    }
   }

}



@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}