// functions.scss
// Defines breakpoints for style guide



// Breakpoints
// --------------------------------------------------

$breakpoints: (
  'xs': (min-width: 30rem), 
  'sm': (min-width: 40rem), 
  'md': (min-width: 48rem),
  'lg': (min-width: 64rem), 
  'xlg': (min-width: 71.25rem), 
  'xxlg': (min-width: 85rem), 


);


/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}