// text modifiers
//----------------------------------------------------

.bold {
	font-weight: 700;
}

.small-width {
	max-width:		65ch;
}

.smaller-width {
		max-width:	 52ch;
}

.smallest-width {
		max-width:	 40ch;
}

.smallest-est-width {
		max-width:	20ch;
}

.center {

	text-align: center;
}




// list modifiers
//----------------------------------------------------
.list-unstyled {
  margin-left: 0 		!important;
  padding-left: 0		!important;
  list-style: none 		!important; 

}

.inline {
	display: inline;
}

.list-unstyled-horz {
	list-style-type: none;
}

.list-unstyled-horz li {
	float:left;
}



// Layout modifiers
//----------------------------------------------------

.float-left {
	float: left 	!important;
}
.float-right {
	float: right 	!important;
}

	.spantest {
		@include span(12 of 12);
	}

	.last-1 {
		@include span(last 1);
	}
	.last-2 {
		@include span(last 2);
	}
	.last-3 {
		@include span(last 3);
	}
	.last-4 {
		@include span(last 4);
	}
	.last-5 {
		@include span(last 5);
	}
	.last-6 {
		@include span(last 6);
	}
	.last-7 {
		@include span(last 7);
	}
	.last-8 {
		@include span(last 8);
	}
	.last-9 {
		@include span(last 9);
	}
	.last-10 {
		@include span(last 10);
	}
	.last-11 {
		@include span(last 11);
	}
	.last-12 {
		@include span(last 12);
	}

// 	Responsive Columns
//	These are so that Susy plays well with responsive breakpoints
//----------------------------------------------------
//----------------------------------------------------

	.xs-span1 {
		@include span(1 of 12);
	}
	.xs-span2 {
		@include span(2 of 12);
	}
	.xs-span3 {
		@include span(3 of 12);
	}
	.xs-span4 {
		@include span(4 of 12);
	}
	.xs-span5 {
		@include span(5 of 12);
	}
	.xs-span6 {
		@include span(6 of 12);
	}
	.xs-span7 {
		@include span(7 of 12);
	}
	.xs-span8 {
		@include span(8 of 12);
	}
	.xs-span9 {
		@include span(9 of 12);
	}
	.xs-span10 {
		@include span(10 of 12);
	}
	.xs-span11 {
		@include span(11 of 12);
	}
	.xs-span12 {
		@include span(12 of 12);
	}

	.xs-push1 {
		@include push(1 of 12);
	}
	.xs-push2 {
		@include push(2 of 12);
	}
	.xs-push3 {
		@include push(3 of 12);
	}
	.xs-push4 {
		@include push(4 of 12);
	}
	.xs-push5 {
		@include push(5 of 12);
	}
	.xs-push6 {
		@include push(6 of 12);
	}
	.xs-push7 {
		@include push(7 of 12);
	}
	.xs-push8 {
		@include push(8 of 12);
	}
	.xs-push9 {
		@include push(9 of 12);
	}
	.xs-push10 {
		@include push(10 of 12);
	}
	.xs-push11 {
		@include push(11 of 12);
	}

	.xs-pull1 {
		@include pull(1 of 12);
	}
	.xs-pull2 {
		@include pull(2 of 12);
	}
	.xs-pull3 {
		@include pull(3 of 12);
	}
	.xs-pull4 {
		@include pull(4 of 12);
	}
	.xs-pull5 {
		@include pull(5 of 12);
	}
	.xs-pull6 {
		@include pull(6 of 12);
	}
	.xs-pull7 {
		@include pull(7 of 12);
	}
	.xs-pull8 {
		@include pull(8 of 12);
	}
	.xs-pull9 {
		@include pull(9 of 12);
	}
	.xs-pull10 {
		@include pull(10 of 12);
	}
	.xs-pull11 {
		@include pull(11 of 12);
	}



@include respond-to("sm") {
	.sm-span1 {
		@include span(1 of 12);
	}
	.sm-span2 {
		@include span(2 of 12);
	}
	.sm-span3 {
		@include span(3 of 12);
	}
	.sm-span4 {
		@include span(4 of 12);
	}
	.sm-span5 {
		@include span(5 of 12);
	}
	.sm-span6 {
		@include span(6 of 12);
	}
	.sm-span7 {
		@include span(7 of 12);
	}
	.sm-span8 {
		@include span(8 of 12);
	}
	.sm-span9 {
		@include span(9 of 12);
	}
	.sm-span10 {
		@include span(10 of 12);
	}
	.sm-span11 {
		@include span(11 of 12);
	}
	.sm-span12 {
		@include span(12 of 12);
	}

	.sm-push0 {
		@include push(0 of 12);
	}

	.sm-push1 {
		@include push(1 of 12);
	}
	.sm-push2 {
		@include push(2 of 12);
	}
	.sm-push3 {
		@include push(3 of 12);
	}
	.sm-push4 {
		@include push(4 of 12);
	}
	.sm-push5 {
		@include push(5 of 12);
	}
	.sm-push6 {
		@include push(6 of 12);
	}
	.sm-push7 {
		@include push(7 of 12);
	}
	.sm-push8 {
		@include push(8 of 12);
	}
	.sm-push9 {
		@include push(9 of 12);
	}
	.sm-push10 {
		@include push(10 of 12);
	}
	.sm-push11 {
		@include push(11 of 12);
	}

	.sm-pull0 {
		@include pull(0 of 12);
	}
	.sm-pull1 {
		@include pull(1 of 12);
	}
	.sm-pull2 {
		@include pull(2 of 12);
	}
	.sm-pull3 {
		@include pull(3 of 12);
	}
	.sm-pull4 {
		@include pull(4 of 12);
	}
	.sm-pull5 {
		@include pull(5 of 12);
	}
	.sm-pull6 {
		@include pull(6 of 12);
	}
	.sm-pull7 {
		@include pull(7 of 12);
	}
	.sm-pull8 {
		@include pull(8 of 12);
	}
	.sm-pull9 {
		@include pull(9 of 12);
	}
	.sm-pull10 {
		@include pull(10 of 12);
	}
	.sm-pull11 {
		@include pull(11 of 12);
	}
}


@include respond-to("md") {
	.m-float-right {
		float: right !important;
	}


	.m-span1 {
		@include span(1 of 12);
	}
	.m-span2 {
		@include span(2 of 12);
	}
	.m-span3 {
		@include span(3 of 12);
	}
	.m-span4 {
		@include span(4 of 12);
	}
	.m-span5 {
		@include span(5 of 12);
	}
	.m-span6 {
		@include span(6 of 12);
	}
	.m-span7 {
		@include span(7 of 12);
	}
	.m-span8 {
		@include span(8 of 12);
	}
	.m-span9 {
		@include span(9 of 12);
	}
	.m-span10 {
		@include span(10 of 12);
	}
	.m-span11 {
		@include span(11 of 12);
	}
	.m-span12 {
		@include span(12 of 12);
	}

	.m-push0 {
		margin-left: 0;
	}
	.m-push1 {
		@include push(1 of 12);
	}
	.m-push2 {
		@include push(2 of 12);
	}
	.m-push3 {
		@include push(3 of 12);
	}
	.m-push4 {
		@include push(4 of 12);
	}
	.m-push5 {
		@include push(5 of 12);
	}
	.m-push6 {
		@include push(6 of 12);
	}
	.m-push7 {
		@include push(7 of 12);
	}
	.m-push8 {
		@include push(8 of 12);
	}
	.m-push9 {
		@include push(9 of 12);
	}
	.m-push10 {
		@include push(10 of 12);
	}
	.m-push11 {
		@include push(11 of 12);
	}

	.m-pull0 {
		margin-left: 0;
	}
	.m-pull1 {
		@include pull(1 of 12);
	}
	.m-pull2 {
		@include pull(2 of 12);
	}
	.m-pull3 {
		@include pull(3 of 12);
	}
	.m-pull4 {
		@include pull(4 of 12);
	}
	.m-pull5 {
		@include pull(5 of 12);
	}
	.m-pull6 {
		@include pull(6 of 12);
	}
	.m-pull7 {
		@include pull(7 of 12);
	}
	.m-pull8 {
		@include pull(8 of 12);
	}
	.m-pull9 {
		@include pull(9 of 12);
	}
	.m-pull10 {
		@include pull(10 of 12);
	}
	.m-pull11 {
		@include pull(11 of 12);
	}
}





@include respond-to("lg") {
	.lg-span1 {
		@include span(1 of 12);
	}
	.lg-span2 {
		@include span(2 of 12);
	}
	.lg-span3 {
		@include span(3 of 12);
	}
	.lg-span4 {
		@include span(4 of 12);
	}
	.lg-span5 {
		@include span(5 of 12);
	}
	.lg-span6 {
		@include span(6 of 12);
	}
	.lg-span7 {
		@include span(7 of 12);
	}
	.lg-span8 {
		@include span(8 of 12);
	}
	.lg-span9 {
		@include span(9 of 12);
	}
	.lg-span10 {
		@include span(10 of 12);
	}
	.lg-span11 {
		@include span(11 of 12);
	}
	.lg-span12 {
		@include span(12 of 12);
	}

	.lg-push0 {
		margin-left: 0;
	}
	.lg-push1 {
		@include push(1 of 12);
	}
	.lg-push2 {
		@include push(2 of 12);
	}
	.lg-push3 {
		@include push(3 of 12);
	}
	.lg-push4 {
		@include push(4 of 12);
	}
	.lg-push5 {
		@include push(5 of 12);
	}
	.lg-push6 {
		@include push(6 of 12);
	}
	.lg-push7 {
		@include push(7 of 12);
	}
	.lg-push8 {
		@include push(8 of 12);
	}
	.lg-push9 {
		@include push(9 of 12);
	}
	.lg-push10 {
		@include push(10 of 12);
	}
	.lg-push11 {
		@include push(11 of 12);
	}

	.lg-push0 {
		margin-left: 0;
	}
	.lg-pull1 {
		@include pull(1 of 12);
	}
	.lg-pull2 {
		@include pull(2 of 12);
	}
	.lg-pull3 {
		@include pull(3 of 12);
	}
	.lg-pull4 {
		@include pull(4 of 12);
	}
	.lg-pull5 {
		@include pull(5 of 12);
	}
	.lg-pull6 {
		@include pull(6 of 12);
	}
	.lg-pull7 {
		@include pull(7 of 12);
	}
	.lg-pull8 {
		@include pull(8 of 12);
	}
	.lg-pull9 {
		@include pull(9 of 12);
	}
	.lg-pull10 {
		@include pull(10 of 12);
	}
	.lg-pull11 {
		@include pull(11 of 12);
	}
}

@include respond-to("xlg") {
	.xlg-span1 {
		@include span(1 of 12);
	}
	.xlg-span2 {
		@include span(2 of 12);
	}
	.xlg-span3 {
		@include span(3 of 12);
	}
	.xlg-span4 {
		@include span(4 of 12);
	}
	.xlg-span5 {
		@include span(5 of 12);
	}
	.xlg-span6 {
		@include span(6 of 12);
	}
	.xlg-span7 {
		@include span(7 of 12);
	}
	.xlg-span8 {
		@include span(8 of 12);
	}
	.xlg-span9 {
		@include span(9 of 12);
	}
	.xlg-span10 {
		@include span(10 of 12);
	}
	.xlg-span11 {
		@include span(11 of 12);
	}
	.xlg-span12 {
		@include span(12 of 12);
	}

	.xlg-push0 {
		@include push(0 of 12);
	}
	.xlg-push1 {
		@include push(1 of 12);
	}
	.xlg-push2 {
		@include push(2 of 12);
	}
	.xlg-push3 {
		@include push(3 of 12);
	}
	.xlg-push4 {
		@include push(4 of 12);
	}
	.xlg-push5 {
		@include push(5 of 12);
	}
	.xlg-push6 {
		@include push(6 of 12);
	}
	.xlg-push7 {
		@include push(7 of 12);
	}
	.xlg-push8 {
		@include push(8 of 12);
	}
	.xlg-push9 {
		@include push(9 of 12);
	}
	.xlg-push10 {
		@include push(10 of 12);
	}
	.xlg-push11 {
		@include push(11 of 12);
	}

	.xlg-push0 {
		@include pull(0 of 12);
	}
	.xlg-pull1 {
		@include pull(1 of 12);
	}
	.xlg-pull2 {
		@include pull(2 of 12);
	}
	.xlg-pull3 {
		@include pull(3 of 12);
	}
	.xlg-pull4 {
		@include pull(4 of 12);
	}
	.xlg-pull5 {
		@include pull(5 of 12);
	}
	.xlg-pull6 {
		@include pull(6 of 12);
	}
	.xlg-pull7 {
		@include pull(7 of 12);
	}
	.xlg-pull8 {
		@include pull(8 of 12);
	}
	.xlg-pull9 {
		@include pull(9 of 12);
	}
	.xlg-pull10 {
		@include pull(10 of 12);
	}
	.xlg-pull11 {
		@include pull(11 of 12);
	}
}

@include respond-to("xxlg") {
	.xxlg-span1 {
		@include span(1 of 12);
	}
	.xxlg-span2 {
		@include span(2 of 12);
	}
	.xxlg-span3 {
		@include span(3 of 12);
	}
	.xxlg-span4 {
		@include span(4 of 12);
	}
	.xxlg-span5 {
		@include span(5 of 12);
	}
	.xxlg-span6 {
		@include span(6 of 12);
	}
	.xxlg-span7 {
		@include span(7 of 12);
	}
	.xxlg-span8 {
		@include span(8 of 12);
	}
	.xxlg-span9 {
		@include span(9 of 12);
	}
	.xxlg-span10 {
		@include span(10 of 12);
	}
	.xxlg-span11 {
		@include span(11 of 12);
	}
	.xxlg-span12 {
		@include span(12 of 12);
	}

	.xxlg-push0 {
		@include push(0 of 12);
	}
	.xxlg-push1 {
		@include push(1 of 12);
	}
	.xxlg-push2 {
		@include push(2 of 12);
	}
	.xxlg-push3 {
		@include push(3 of 12);
	}
	.xxlg-push4 {
		@include push(4 of 12);
	}
	.xxlg-push5 {
		@include push(5 of 12);
	}
	.xxlg-push6 {
		@include push(6 of 12);
	}
	.xxlg-push7 {
		@include push(7 of 12);
	}
	.xxlg-push8 {
		@include push(8 of 12);
	}
	.xxlg-push9 {
		@include push(9 of 12);
	}
	.xxlg-push10 {
		@include push(10 of 12);
	}
	.xxlg-push11 {
		@include push(11 of 12);
	}

	.xxlg-push0 {
		@include pull(0 of 12);
	}
	.xxlg-pull1 {
		@include pull(1 of 12);
	}
	.xxlg-pull2 {
		@include pull(2 of 12);
	}
	.xxlg-pull3 {
		@include pull(3 of 12);
	}
	.xxlg-pull4 {
		@include pull(4 of 12);
	}
	.xxlg-pull5 {
		@include pull(5 of 12);
	}
	.xxlg-pull6 {
		@include pull(6 of 12);
	}
	.xxlg-pull7 {
		@include pull(7 of 12);
	}
	.xxlg-pull8 {
		@include pull(8 of 12);
	}
	.xxlg-pull9 {
		@include pull(9 of 12);
	}
	.xxlg-pull10 {
		@include pull(10 of 12);
	}
	.xxlg-pull11 {
		@include pull(11 of 12);
	}
}








.nomargin {
	margin: 0 auto !important;
}




.table { 
	display: table !important;
}

.tablecell {
  display: table-cell !important;
  vertical-align: middle;

}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
}

.flex {
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;

}

.animate {
	transition: all .2s ease;
}


.rotate180 {
		-webkit-transform: rotate(180deg); 
		-moz-transform: rotate(180deg); 
		-o-transform: rotate(180deg);
		-ms-transform: rotate(3180deg); 
}

.fillwhite {
	background: $white;
}

.fillgrey-1 {
	background: $lightgrey;
}

.fullwidth {
	max: 100vw;
}