// clearfix
//----------------------------------------------------
* { box-sizing: border-box;  }

.clearfix {	@include clearfix;	}


// list modifiers
//----------------------------------------------------
.list-unstyled {
  margin-left: 0 			!important;
  padding-left:0			!important;
  list-style: none 			!important; 

}

.inline {	display: inline-block;	}



// Layout modifiers
//----------------------------------------------------
.center { text-align: center;
		margin-left: 0 auto;
		marin-rigt: 0 auto;}

.divider {
	width: 5ch;
	height: 2px;
	background-color: $lightgray;
}
