// variables.scss
// Defines spacing variables




// Space Variables (private vars)
// --------------------------------------------------
$space-0:			0rem;
$space-1:			0.5rem;
$space-2:			1rem;
$space-3:			1.5rem;
$space-4:			2rem;
$space-5:			3rem;
$space-6:			4.5rem;



