// variables.scss
// Defines link defaults for style guide


a, a:hover, a:active, a:visited, .u {
	@include transition-color;
	text-decoration: 		none;
	color: 					inherit;
}

main a, a:active, a:visited {
	@include transition-color;
	text-decoration: 	none;
	color: 				$midgray;

}

a:hover, .u:hover {
	@include transition-color;
	text-decoration: 	none;
	color:				$accent2;
}


.u { 
    border-bottom: 1px solid $midgray;
    padding-bottom: 1px;
}

.u:hover {
    border-bottom: 1px solid $accent2;
}

.btn-border {
	@include transition-color;
	border: 1px solid $midgray;
	padding: 10px 15px;
	border-radius: 3px;

	&:hover {
	border: 1px solid $accent2;
	}
}


