---
layout: default
---
<article class="post">

<section class="xs-px-4 xs-pt-6 sm-span12 clearfix">
  <div class="md-span11 md-push1">

   <p class="ttu lightmidgray xs-mt-0"> {{ page.categories }} </p>
    <h1 class="smallest-est-width xs-my-0"> {{ page.title }}  </h1>

     {% if page.subtitle %}
 	<h3 class="smaller-width"> {{ page.subtitle}} </h3>
	{% endif %} 
   
  </div>
</section>


<section class="xs-span12 clearfix">

    {{ content }}

   {% include pagination.html %}
    


  </div>
</section>

</article>