// grid.scss


$susy: (
  columns: 12,
  gutters: .20,
  container: 100%,
  container-position: center,
  global-box-sizing: border-box,
  debug: (
    // image: show,
    // output: overlay,
    // toggle: top right,
    )
);


// Layout Setup
// --------------------------------------------------

.wrap {
  @include container();
}

.nogutter {
  gutter-override:      no-gutters;
}












