// header.scss
// Defines header styling for style guide


.header {
	width: 100%;
	border-bottom: 1px solid rgba(230,230,230,1);
	height: 3.5rem;

}


.largecutoff {
		margin: 0 auto;
		width: 100%;
		max-width: 1300px;
}











