
// 

// reset.scss
// Clearing everything



body { margin: 0 }

img {

	 max-width: 100%;
    }

svg { max-height: 100% }


p,
.p {

    line-height: 1.6em;
    margin-bottom: .8em
}

ul {
	padding-left: 0;
}


// Grid Helpers
// --------------------------------------------------

.clearfix:before,
.clearfix:after {
  content: " "   !important;
  display: table !important; }

.clearfix:after {
  clear: both !important; }








