// typography.scss
// Defines typography variables for style guide site

// Body Typography
// --------------------------------------------------
@font-face {
  src: local("HKGrotesk Light"), local("HKGrotesk-Light"), url(/fonts/HKGrotesk-Light.otf) format("otf");
}

// Content Page Typography
// --------------------------------------------------
html, body {
	font-family: 	$type-defaultFamily;
	font-size: 		$fontsize-normal;
	letter-spacing: $letter-spacing;
	font-style: normal;
}

h1 {
	font-size: 		$fontsize-bigger;
	font-weight:	$fontweight-2;
	color:			$darkgray;

	@include respond-to("md") { 
		font-size:	$fontsize-huge;
	}

}

h2 {
	font-size: 		$fontsize-big;
	font-weight: 	$fontweight-4;

	@include respond-to("md") { 
		font-size:	$fontsize-bigger;
	}

}

h3 {
	font-size: 		$fontsize-normal;
	font-style:		normal;
	color:			$midgray;
	line-height: 	$line-height-3;

}

p {
	line-height: 	$line-height-3;
}

.ttu {
	text-transform:		uppercase;
}



// Measures
//----------------------------------------------------

.small-width 	{	max-width:		$measure-normal;	}
.smaller-width 	{	max-width:		$measure-small;		}
.smallest-width {	max-width:		$measure-smaller;	}
.tiny-width		{	max-width: 		$measure-tiny;		}




