// typography.scss
// Defines typography variables for style guide site

// Body Typography
// --------------------------------------------------


.fontsize-small {	font-size: $fontsize-small;	}



// Content Page Typography
// --------------------------------------------------
html {
	font-family: 	$type-defaultFamily;
	font-size: 		$body-text;
}

body {
	font-size: 		$fontsize-normal;
	letter-spacing: $letter-spacing;
}


h1 {
	font-size: 		$fontsize-bigger;
	font-weight:	$fontweight-2;
	color:			$nearblack;

	@include respond-to("md") { 
		font-size:	$fontsize-huge;
	}

}

h2 {
	font-size: 		$fontsize-big;
	font-weight: 	$fontweight-4;

	@include respond-to("md") { 
		font-size:	$fontsize-bigger;
	}

}

h3 {
	font-size: 		$fontsize-normal;
	font-style:		normal;
	color:			$midgray;
	line-height: 	$line-height-3;

}

p {
	line-height: 	$line-height-3;
}

.ttu {
	text-transform:		uppercase;
}



// measures
//----------------------------------------------------

.small-width {		max-width:		$measure-normal;	}
.smaller-width {	max-width:		$measure-small;		}
.smallest-width {	max-width:		$measure-smaller;	}
.tiny-width		{	max-width: 		$measure-tiny;		}




